.grid-user{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(152, 222, 135);
}

.grid div{
    width: 40px;
    height: 40px;
}

.grid-user2{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(224, 205, 255);
}
.container{
    display: flex;
}

.display{
    width: 500px;
    height: 500px;
    background-color:white;
}
.destroyer_{
    width: 80px;
    height: 40px;
    background-color: teal;
    display: flex;
}
.destroyer{
    background-color: teal;
}
.submarine_{
    width: 120px;
    height: 40px;
    background-color: red;
    display: flex;
}
.submarine{
    background-color: red;
}
.battleship_{
    width: 160px;
    height: 40px;
    background-color: purple;
    display: flex;
}
.battleship{
    background-color: purple;
}
.carrier_{
    width: 200px;
    height: 40px;
    background-color:orange;
    display: flex;
}
.carrier{
    background-color:orange ;
}
.ship div{
    width: 40px;
    height: 40px;
}
.boom{
    background-color: firebrick;
}
.miss
{
 background-color: black;   
}
.connected {
    font-weight: normal;
}
.ready{
    font-weight: normal;
}
.connected span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: red;
}
.ready span{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: red;

}
span.green{
    background: green;
}